<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <custom_delivery_date>
            <general>
                <days_offset>2</days_offset>
            </general>
        </custom_delivery_date>
    </default>
</config>
