<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pavel_ivankov" translate="label" sortOrder="200">
            <label>Pavel Ivankov</label>
        </tab>
        <section id="custom_delivery_date" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Custom Delivery Date</label>
            <tab>pavel_ivankov</tab>
            <resource>Magento_Config::config</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="days_offset" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Delivery days offset</label>
                    <comment>Days will be added to order created date</comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
